if !data.err && data.citys
    //- citypop
    div.citypop
        div.citybox.city-list
            div.citytit.flexbox_v_c
                a.citybtn.flex
                //-     i.icon-angle-left 
                //-     | 返回
            div.citysearch.flexbox
                input.flex.txt(type="text",placeholder="输入城市名或拼音查询")
            div.citylist.m-hide#searchData
                h4 搜索结果
                ul
                    each citisFirstArray,UpperCityKey in data.citys
                        if citisFirstArray && citisFirstArray.length > 0
                            each city in citisFirstArray
                                li.m-hide(data-locationid="#{city.locationID}", data-serchstr="#{city.namePinyinShort}#{city.nameCN}#{city.namePinyin}", data-namecn="#{city.nameCN}")
                                    span #{city.nameCN}
            div#mainBody
                div.list-wrapper.citylist.m-hide
                    h3 最近访问
                    ul
                        li
                            span 北京
                div.list-wrapper.citylist
                    h3 热门城市
                    ul
                        li
                            span 北京

                div.citylist(style="display:non1e")
                    dl
                        each citisFirstArray,UpperCityKey in data.citys
                            if citisFirstArray && citisFirstArray.length > 0
                                dt #{UpperCityKey}
                                    dd
                                        ul
                                            each city in citisFirstArray
                                                li(data-locationid="#{city.locationID}", data-namecn="#{city.nameCN}")
                                                    a
                                                        | #{city.nameCN}

        


