extends ./layout

block title
    title 电影票友



block prepend body

    //- wrap
    div.wrap.flexbox_v.molist
         
        div.tabs.movietabs
            div.flexbox_v_c
                div.city 
                    a#chooseCity
                        span
                            | 北京
                        i.demo-icon.icon-down-open-mini
                ul.flex.flexbox#menutop
                    li.curr.flex._hot(data-type="hot") 正在上映
                    li.flex._coming(data-type="coming") 即将上映
        div.addimg.fmaddimg

        if (data && !data.err && data.movies)
            section.movielist.flex
                ul
                    each movie, index in data.movies
                        li.flexbox(data-url="/#{data.publicsignal}/#{data.locationId}/ticket/#{movie.movieID}")
                            div.picmid
                                a(href="javascript:;")
                                    img(src="#{movie.movieImage}")
                            div.txtmid.flex 
                                div.flexbox
                                    h2.flex 
                                        b #{movie.movieNameCN}
                                        span #{movie.movieVersions}
                                        //- span.curr 巨幕
                                    a(href="javascript:;").btn_buy
                                        span 购票
                                p #{movie.intro}
                            div.toolmid
                                div.btnbar
                                    - var firendClass = movie.isFriendsPay ? '' : 'm-hide';
                                    - var redbagClass = movie.isMoneyPacket ? '' : 'm-hide';
                                    a(class="#{firendClass}")
                                        i.ico_firend
                                        span 好友买单
                                    a(class="#{redbagClass}")
                                        i.ico_redbag
                                        span 邀红包
        div.navtool
             ul.flexbox
                li.flex
                    a(href="/")
                        i.n01
                        | 头条
                li.flex.newflex.curr 
                    a(href="javascript:;")
                        i.n02 
                        | 电影
                li._piaoyouguide
                    a
                        i.nadd
                li.flex.newflex
                    //- .showtips
                    a(href="javascript:;")#findbox 
                        i.n03 
                        | 发现
                        div.navtips
                li.flex
                    a(href="/#{data.publicsignal}/my/index")
                        i.n04 
                        | 我的




block prepend footer

block prepend script
    script
        | var showtype = "#{data.showtype}";
        | window.publicsignal = "#{data.publicsignal}";
        | var shareInfo = !{JSON.stringify(data.shareInfo)};
    script(src="#{data.staticBase}/script/weiticket/main.js?#{data.reversion}")
    script(src="#{data.staticBase}/script/weiticket/filmlist.js?#{data.reversion}")

