extends ./layout

block title
        title 电影票友

block prepend body
    
    //wrap
    div.wrap
        //轮刷1广告
        if(data && data.firstAds && data.firstAds.length >0)
            div.scrollpic.mui-slider.imgico
                ul.mui-slider-group.mui-slider-loop
                    - var _ad_firstList = data.firstAds[0];
                    - var _ad_firstLen = data.firstAds.length;
                    - var _ad_lastList = data.firstAds[_ad_firstLen - 1];
                    if _ad_lastList
                        li.mui-slider-item.mui-slider-item-duplicate
                            a(href="#{_ad_lastList.url}")
                                img(src="#{_ad_lastList.imageUrl}")
                    each indexAd in data.firstAds
                        if indexAd
                            li.mui-slider-item
                                a(href="#{indexAd.url}")
                                    img(src="#{indexAd.imageUrl}")
                    if _ad_firstList
                        li.mui-slider-item.mui-slider-item-duplicate
                            a(href="#{_ad_firstList.url}")
                                img(src="#{_ad_firstList.imageUrl}")
                div.currbox.mui-slider-indicator
                    each indexAd, index in data.firstAds
                        if indexAd
                            span.mui-indicator

            div._txtboxs_
                each indexAd, index in data.firstAds
                    if indexAd && indexAd.movie
                        - var _class_name = index == 0 ? "txtbox" : "txtbox m-hide";
                        - var _link = '/110000/ticket/' + indexAd.movieID;
                        div.txtbox(class="#{_class_name}")
                            h2 #{indexAd.movie.movieNameCN}
                            div.txtmid
                                p #{indexAd.movie.intro}
                            div.sharetool
                                
                                    a(href='#{_link}').ico_ticket
                                
                                    a.ico_price(style="display:none;")

        //轮刷2广告
        div.scrollpic1
            h2 
                span 耳语
            a(href="#").btn_share.m-hide
            if(data && data.secondAds && data.secondAds.length >0)
                div.mui-slider
                    div.mui-slider-group.mui-slider-loop
                        - var _ad_secondList = data.secondAds[0];
                        - var _ad_secondLen = data.secondAds.length;
                        - var _ad_secondlastList = data.secondAds[_ad_secondLen - 1];
                        div.addimg.mui-slider-item.mui-slider-item-duplicate
                            if _ad_secondlastList
                                a(href="#{_ad_secondlastList.url}")
                                    img(src="#{_ad_secondlastList.imageUrl}")
                            
                        each secondAd, index in data.secondAds
                            div.addimg.mui-slider-item
                                  a(href="#{secondAd.url}")
                                    img(src="#{secondAd.imageUrl}")
                        if _ad_secondList
                            div.mui-slider-item.mui-slider-item-duplicate
                                a(href="#{_ad_secondList.url}")
                                    img(src="#{_ad_secondList.imageUrl}")

        div._thirdads.m-hide.txtpic
            if(data && data.thirdAds && data.thirdAds.length)
                div._mui-slider.mui-slider
                    div.mui-slider-group.mui-slider-loop
                        - var _ad_secondList = data.thirdAds[0];
                        - var _ad_secondLen = data.thirdAds.length;
                        - var _ad_secondlastList = data.thirdAds[_ad_secondLen - 1];
                        if _ad_secondlastList
                            div.mui-slider-item.mui-slider-item-duplicate
                                section
                                    a(href="#{_ad_secondlastList.url}")
                                        div.flexbox_v_c
                                            h2.flex #{_ad_secondlastList.advertisementName} 
                                        img(src="#{_ad_secondlastList.imageUrl}")
                                        footer.flexbox 
                                            div.main.flex
                                                span.ico_edit_top 推广
                                                span.n_name #{_ad_secondlastList.weMediaName}
                            
                        each secondAd, index in data.thirdAds
                            div.mui-slider-item
                                section 
                                    a(href="#{secondAd.url}")
                                        div.flexbox_v_c
                                            h2.flex  #{secondAd.advertisementName}
                                        img(src="#{secondAd.imageUrl}")
                                        footer.flexbox 
                                            div.main.flex
                                                span.ico_edit_top 推广
                                                span.n_name #{secondAd.weMediaName}
                        if _ad_secondList
                            div.mui-slider-item.mui-slider-item-duplicate
                                section
                                    a(href="#{_ad_secondList.url}")
                                        div.flexbox_v_c
                                            h2.flex #{_ad_secondList.advertisementName} 
                                        img(src="#{_ad_secondList.imageUrl}")
                                        footer.flexbox 
                                            div.main.flex
                                                span.ico_edit_top 推广
                                                span.n_name #{_ad_secondList.weMediaName}       

        div.hotmovie
        
        div.loading.flexbox_vh_c
            div.mui-spinner
            div 加载中.....

        div.navtool
             ul.flexbox
                li.flex.curr 
                    a(href="javascript:;")
                        i.n01 
                        | 头条
                li.flex.newflex
                    a(href="/#{data.locationId}/filmlist/hot")
                        i.n02 
                        | 电影
                li._piaoyouguide
                    a
                        i.nadd
                li.flex.newflex
                    //.showtips
                    a(href="javascript:;")#findbox 
                        i.n03 
                        | 发现
                        div.navtips
                li.flex
                    a(href="/my/index")
                        i.n04 
                        | 我的


block prepend footer

block prepend script
    script
        | var data = !{JSON.stringify(data)};
        | var thirdIndex = !{data.baseData.thirdIndex};
    script(src="#{data.staticBase}/script/weiticket/common.js?#{data.reversion}")
    script(src="#{data.staticBase}/script/weiticket/index.js?#{data.reversion}")


