if data && data.movieNews
	each movieNew, index in data.movieNews
		- var _time = Math.floor( (new Date() - new Date(movieNew.publishtime)) / 1000 / 60 )
		if movieNew.isTop
			if movieNew.image2 == '' || movieNew.image3 == ''
				section.first.imgtxt
					ul.flexbox_v_c
						li.flex
							h2 #{movieNew.title}
							p
								span.ico_edit_top 推广
								span.n_name 票友君
						li
							a(href="#")
								img(src="#{movieNew.image1}")
					footer.flexbox
						div.main.flex 置顶
							span.n_name 票友君
							span.num
								b #{movieNew.readCount} 
							time #{_time}分钟前
			else
				section.first
					div.flexbox_v_c
						h2.flex #{movieNew.title}
						
					ul.flexbox 
						li.flex 
							a(href="")
								img(src="#{movieNew.image1}")
						li.flex 
							a(href="")
								img(src="#{movieNew.image2}")
						li.flex 
							a(href="")
								img(src="#{movieNew.image3}")
					footer.flexbox 
						div.main.flex
							if movieNew.isTop
								span.ico_edit_top 置顶
								span.n_name 票友君
								span.num 阅读 
									b #{movieNew.readCount} 
								time #{_time}分钟前
		else
			if movieNew.image2 == '' || movieNew.image3 == ''
				section.imgtxt
					ul.flexbox_v_c
						li.flex
							h2 #{movieNew.title}
							p
								span.ico_edit_top 推广
								span.n_name 票友君
						li
							a(href="#")
								img(src="#{movieNew.image1}")
					footer.flexbox
						div.main.flex 置顶
							span.n_name 票友君
							span.num
								b #{movieNew.readCount} 
							time #{_time}分钟前
			else
				section.first
					div.flexbox_v_c
						h2.flex #{movieNew.title}
						
					ul.flexbox 
						li.flex 
							a(href="")
								img(src="#{movieNew.image1}")
						li.flex 
							a(href="")
								img(src="#{movieNew.image2}")
						li.flex 
							a(href="")
								img(src="#{movieNew.image3}")
					footer.flexbox 
						div.main.flex
							if movieNew.isTop
								span.ico_edit_top 置顶
								span.n_name 票友君
								span.num 阅读 
									b #{movieNew.readCount} 
								time #{_time}分钟前