extends ./layout

block title
    if data && !data.err && data.newsInfo
        title #{data.newsInfo.title}  -- 电影票友
    else
        title 电影票友

block prepend body
    
    //- //wrap
    
    div.wrap
        if data && !data.err && data.newsInfo
            div.infotxt
                if data.movies && data.movies.Items && data.movies.Items.length > 0
                    - var _items = data.movies.Items;
                    - var _len = _items.length;
                    - var _ad_firstList = _items[0];
                    - var _ad_lastList = _items[_len - 1];
                    if _len > 1
                        div.mui-slider
                            ul.mui-slider-group.mui-slider-loop
                                li.mui-slider-item.mui-slider-item-duplicate
                                    div.addticketbox.flexbox_v_c
                                        div.bigimgbox(style="background:url(#{_ad_firstList.movieImage}) center center no-repeat; background-size:100% auto;")
                                        div.imgbox
                                            img(src="#{_ad_firstList.movieImage}")
                                        div.txtbox.flex
                                            h3 #{_ad_firstList.movieNameCN}
                                                p #{_ad_firstList.movieVersions}
                                                p #{_ad_firstList.intro}
                                        div.btnbox
                                            a(href="/110000/ticket/#{_ad_firstList.movieID}").new 
                                                i.btn_tick
                                                p 购票
                                each indexAd in _items
                                    li.mui-slider-item.mui-slider-item-duplicate
                                        div.addticketbox.flexbox_v_c
                                            div.bigimgbox(style="background:url(#{indexAd.movieImage}) center center no-repeat; background-size:100% auto;")
                                            div.imgbox
                                                img(src="#{indexAd.movieImage}")
                                            div.txtbox.flex
                                                h3 #{indexAd.movieNameCN}
                                                    p #{indexAd.movieVersions}
                                                    p #{indexAd.intro}
                                            div.btnbox
                                                a(href="/110000/ticket/#{indexAd.movieID}").new 
                                                    i.btn_tick
                                                    p 购票
                                li.mui-slider-item.mui-slider-item-duplicate
                                    div.addticketbox.flexbox_v_c
                                        div.bigimgbox(style="background:url(#{_ad_lastList.movieImage}) center center no-repeat; background-size:100% auto;")
                                        div.imgbox
                                            img(src="#{_ad_lastList.movieImage}")
                                        div.txtbox.flex
                                            h3 #{_ad_lastList.movieNameCN}
                                                p #{_ad_lastList.movieVersions}
                                                p #{_ad_lastList.intro}
                                        div.btnbox
                                            a(href="/110000/ticket/#{_ad_lastList.movieID}").new 
                                                i.btn_tick
                                                p 购票
                    else
                        each indexAd in _items
                            div.addticketbox.flexbox_v_c
                                div.bigimgbox(style="background:url(#{indexAd.movieImage}) center center no-repeat; background-size:300% auto;")
                                div.imgbox
                                    img(src="#{indexAd.movieImage}")
                                div.txtbox.flex
                                    h3 #{indexAd.movieNameCN}
                                        p #{indexAd.movieVersions}
                                        p #{indexAd.intro}
                                div.btnbox
                                    a(href="/110000/ticket/#{indexAd.movieID}").new 
                                        i.btn_tick
                                        p 购票
                else
                    header.infoheader
                        div.infotool
                            div.flexbox_v_c
                                div.logobox
                                    a(href='/medialist/#{data.sourceId}')
                                        p 
                                            img(src="#{data.newsInfo.logoURL}")
                                div.imgbox#subscribe
                                    h2 #{data.newsInfo.weMediaName}
                                    
                                    p.flexbox_v_c
                                        //- b.icon_y(style="display:none") 原创
                                        if data.newsInfo.isSubscribe && data.newsInfo.isSubscribe == 'false'
                                            b.join +
                                            em 订阅
                                        else 
                                            b.join.m-hide(style="display:none;") +
                                            em 已订阅
                                div.txtbox.flex
                                    a(href='/medialist/#{data.sourceId}')
                                        p 在电影的时光读懂自已
                                 
                if data.newsInfo.title
                    h2.infotit #{data.newsInfo.title}

                div.infomenu.flexbox_v_c
                    div.main.flex
                        a(href="/").flexbox_v_c
                            img(src="/images/img_ico.png")
                            span 共享平台
                            b 
                                sup + 
                            span
                                time #{data.newsInfo.publishtime}
                    a.info05(style="display:none; ")
                            sup #{data.newsInfo.readCount}
                            //- #{data.newsInfo.readCount}
                    a.info02
                    a.info03

                div.infocon
                    div._txt
                div.formtxt 
                    div.main 阅读：#{data.newsInfo.readCount}
                    div.aside    
                        | 原页面经票友开放平台转码整理 文章来源 
                        a(href="#{data.newsInfo.sourceURL}") #{data.newsInfo.weMediaName}       
                div.sharetoolbox.m-hide
                    a
                        i.b_fav
                        span 1
                    a
                        i.b_weixin
                        span 1
                    a
                        i.b_oicq
                        span 1
                    a
                        i.b_sina
                        span 1
                div.codeinfo.flexbox
                    
                     
                div.txthot
                    h2.hottie 精彩推荐
                    div.hotmovie
                        if data && !data.err && data.movieNews && data.movieNews.Items
                            each movieNew, index in data.movieNews.Items
                                - var _time = Math.floor( (new Date() - new Date(movieNew.publishtime)) / 1000 / 60 )
                                - var _date = _time > 59 ? movieNew.publishtime : _time + "分钟前";
                                if movieNew.image2 == '' || movieNew.image3 == ''
                                    section.imgtxt
                                        a(href="/movienews/#{movieNew.sourceType}/#{movieNew.movieNewID}")
                                            ul.flexbox_v_c
                                                li.flex
                                                    h2 #{movieNew.title}
                                                li
                                                    img(src="#{movieNew.image1}")
                                            footer.flexbox
                                                div.main.flex.flexbox_v_c
                                                    span.n_name #{movieNew.weMediaName}
                                                    span.num 阅读 
                                                        b #{movieNew.readCount} 
                                                    time #{_date}
                                else
                                    section
                                        a(href="/movienews/#{movieNew.sourceType}/#{movieNew.movieNewID}")
                                            div.flexbox_v_c
                                                h2.flex #{movieNew.title}
                                                
                                            ul.flexbox 
                                                li.flex 
                                                    img(src="#{movieNew.image1}")
                                                li.flex 
                                                    img(src="#{movieNew.image2}")
                                                li.flex 
                                                    img(src="#{movieNew.image3}")
                                            footer.flexbox 
                                                div.main.flex.flexbox_v_c
                                                    span.n_name #{movieNew.weMediaName}
                                                    span.num 阅读 
                                                        b #{movieNew.readCount} 
                                                    time #{_date}

                div.infoaddimg
                     


block prepend footer

block prepend script
    script
        //- | var title = "#{data.newsInfo.title}";
        | var newscontent = !{JSON.stringify(data.newsInfo.content ? data.newsInfo.content : '' )};
        | var _summary = "#{data.newsInfo.summary}";
        | var newsId = "#{data.newsId}";
        | var weMediaName = '#{data.newsInfo.weMediaName}';
        | var sourceId = "#{data.sourceId}";
        //- var newscontent = '#{data.newsInfo.content}';
    script(src="#{data.staticBase}/script/weiticket/common.js?#{data.reversion}")
    script(src="#{data.staticBase}/script/weiticket/movienews.js?#{data.reversion}")


