div.orderbox
    dt 
        a
            | 票友卡
    dd 
          
        //- if data && !data.err  
        //-     each data, index in data
        //-         li.new
        //-             strong 已放映
        //-             h2 #{data.orders.movieName }
        //-             p #{data.orders.movieVersions} | #{data.orders.showTime}
        //-             div.flexbox.ordermid
        //-                 div.ordercode.flex #{data.orders.orderID }
        //-                 div.ordertxt #{data.orders.cinemaName}
        include redpiaolist



