if data && !data.err && data.movieNews
    each movieNew, index in data.movieNews
        if movieNew.image1 == '' &&  movieNew.image2 == '' && movieNew.image3 == ''
            section
                a(href="/#{data.publicsignal}/movienews/#{movieNew.sourceType}/#{movieNew.movieNewID}")
                    ul.flexbox
                        li.medtxt.flex
                            h2 #{movieNew.title}
                            p #{movieNew.summary}
                         
                div.flexbox_vh_c.infomenu
                    div.line.flex
                    time #{movieNew.publishtime}
                    span 阅读&nbsp;#{movieNew.readCount}
                    a.info01(style="display:none;")
                        sup 99
                    a.info03
                    div.line.flex
        else if movieNew.image2 == '' || movieNew.image3 == ''
            section
                a(href="/#{data.publicsignal}/movienews/#{movieNew.sourceType}/#{movieNew.movieNewID}")
                    ul.flexbox
                        li.medtxt.flex
                            h2 #{movieNew.title}
                            p #{movieNew.summary}
                        li.flex
                            if movieNew.image1 != ''
                                img(src="#{movieNew.image1}")
                div.flexbox_vh_c.infomenu
                    div.line.flex
                    time #{movieNew.publishtime}
                    span 阅读&nbsp;#{movieNew.readCount}
                    a.info01(style="display:none;")
                        sup 99
                    a.info03
                    div.line.flex
        else
            section
                a(href="/#{data.publicsignal}/movienews/#{movieNew.sourceType}/#{movieNew.movieNewID}")
                    ul.flexbox
                        li.flex
                            img(src="#{movieNew.image1}")
                        li.flex
                            img(src="#{movieNew.image2}")
                        li.flex
                            img(src="#{movieNew.image3}")
                    h2 #{movieNew.title}
                    p.
                        #{movieNew.summary}
                div.flexbox_vh_c.infomenu
                    div.line.flex
                    time #{movieNew.publishtime}
                    span 阅读&nbsp;#{movieNew.readCount} 
                    a.info01(style="display:none;")
                        sup 99
                    a.info03
                    div.line.flex