extends ./layout

block title
        title 电影票友



block prepend body
    include ./pagelets/loading
    
    //- wrap
    if data
        div.wrap
            div.online.flexbox_v
                div.onlineinfo
                    div.flexbox
                        div.ontext.flex
                            - var _moivetype = data.movie && data.movie.movieVersions ? data.movie.movieVersions + ' | ': '';
                            - var _showtime = data.show && data.show.showTime ? data.show.showTime : '';
                            if data.movie
                                h2 #{data.movie.movieNameCN}
                            else
                                h2
                            if data.cinema
                                p #{data.cinema.cinemaName}
                            else
                                p 
                            if data.show
                                p #{_moivetype}#{_showtime} 
                        div.onbtn
                             a(href="javascript:;", onclick="history.back()") 换个场次 
                           
                
                div.onlineseat.flex
                    if data.show
                        h2 #{data.show.hallName}（银幕方向）
                    div.onlinebox
                        div.text
                            i.seat_selected
                            | 选择
                            i.seat_false.icon-set
                            | 已选
                            i.seat_ture
                            | 未选
                    div.room
                        if data.seats && data.seats.length > 0
                            div.smallticket
                                
                                div.ticket_seatcont
                                    <div class="setline"></div>
                                    ul.tnone
                                        each seats, index in data.seats
                                            li
                                                each seat in seats
                                                    - var _className = seat.status == 0 ? 'seat seat_false' : (seat.status == 1 ? 'seat seat_ture' : seat.status == 2 ? 'seat seat_null' : 'seat seat_false');
                                                    span(class="#{_className}", data-seatid="#{seat.seatID}", data-seatname="#{seat.seatName}" data-status="#{seat.status}")
                                                        i.m-hide
                                                            | #{seat.rowNum}排
                                                            <br>
                                                            | #{seat.colNum}座
                            div.row_num
                                ul.lines
                                    each seat, index in data.seats
                                        if seat.length > 0
                                            - var _colNum = seat[0].rowNum;
                                            - var _desc = seat[0].desc;
                                            if _desc != 'vacant_seat'
                                                if seat[0].rowStatus
                                                    if seat[0].rowStatus === 'first'
                                                        li.first
                                                            span #{_colNum}
                                                    if seat[0].rowStatus === 'last'
                                                        li.last
                                                            span #{_colNum}
                                                else
                                                    li
                                                        span #{_colNum}
                                            else
                                                li.hidden
                                                    span 
                if data.show
                    - var price = data.show.price / 100
                    div.seatinfo(data-price="#{price}")
                        div.flexbox_v_c
                            div.main.flex 请选择上方座位，最多选4个
                            div.aside.m-hide#_price 票价： 
                                b ¥#{price}

                          a.submit.notbtn(href="javascript:;") 确定选座

block prepend footer

block prepend script
    script
        | var seats = !{JSON.stringify(data.seats)};
        | var cinema = !{JSON.stringify(data.cinema)};
        | var movie = !{JSON.stringify(data.movie)};
        | var showtime = !{JSON.stringify(data.show)};
        //- | var showtimeId = "#{data.show.showtimeID}";
        | window.publicsignal = "#{data.publicsignal}";
        | var shareInfo = !{JSON.stringify(data.shareInfo)};
    script(src="#{data.staticBase}/script/weiticket/main.js?#{data.reversion}")
    script(src="#{data.staticBase}/script/weiticket/onlineseat.js?#{data.reversion}")
