extends ./layout

block title
        title 电影票友



block prepend body
    
    //wrap
    div.wrap
         div.succ.eorr
            dl
                dt
                    i
                dd
                    b LIUDAQ1007
                    p 出票失败
            div.succinfo
                #{data.orderInfo}
                //- h2 蚁人
                //- p 北京沃美影城（常营店）
                //- p 3D | 今天（10月17日） 18:20
                //- p
                //-     i.ico_tick 1排7座
            a.succlink(href="/#{data.publicsignal}") 返回首页
            div.succimg.m-hide
                img(src="http://dummyimage.com/628x140&amp;text=1")
        include ./pagelets/footer.jade



block prepend footer

block prepend script
    script(src="#{data.staticBase}/script/weiticket/main.js?#{data.reversion}")
    script(src="#{data.staticBase}/script/weiticket/orderResult.js?#{data.reversion}")

