extends ./layout

block title
        title 电影票友



block prepend body
    
    //wrap
    div.wrap
        div.paybox.flexbox
            div.flex#ticketinfo
                
            div.btnbox
                a(href="javascript:;", onclick="history.back()") 重新选座
        ul.paylist 
            li.flexbox_v_c
                div.main.flex#seats
                    
                div.priceaside._price
            //- .flexbox.txtflex
            li.m-hide
                div.main.flex 票友卡&nbsp;¥&nbsp;28&nbsp;+&nbsp;红包&nbsp;¥&nbsp;25
                div.priceaside
            li.redbox
                a.flexbox_v_c.paymid(data-item="myredbag")
                    p.flex 红包
                    p.select.notlink 无可用
                a.flexbox_v_c.paymid(data-item="mypiao")
                    p.flex 票友卡
                    p.select.notlink 无可用
            li.telbox

                div.flexbox_v_c.payinfo
                    label 手机号码
                    //- input(type="tel" placeholder="请输入手机号" maxlength="11").flex#inputTel
                    //- i.demo-icon.icon-cancel-circled.m-hide
                    p#tel
                div.flexbox_v_c.payend
                    div.flex 还需支付
                    div.payprice
                        b._price 
                        p.m-hide 已含服务费：¥&nbsp;1/张
        div.paytool
            p 
                i.demo-icon.icon-cancel-circled2
                | 不支持退款
                i.demo-icon.icon-cancel-circled2
                | 不支持更换场次
            ul 
                li.m-hide
                    a(href="#") 微信付款
                li.m-hide
                    a(href="#") 支付宝付款
                li#payment
                    a 立即支付
            div.time 
                i 
                | 支付剩余时间&nbsp;
                span#payment-countdown
                    | 10分00秒
            dl.otherinfo
                dt 购票须知
                dd 1、选座票由
                    strong 电影票友
                    | 提供，客服热线：4008-18-1818<br>2、请确认场次和时间无误，付款成功后将不予退换




block prepend footer

block prepend script
    script
        | window.publicsignal = "#{data.publicsignal}";
        | var orderId = "#{data.orderId}";
        | var showtimeId = "#{data.showtimeId}";
    script(src="#{data.staticBase}/script/weiticket/main.js?#{data.reversion}")
    script(src="#{data.staticBase}/script/weiticket/payment.js?#{data.reversion}")
        


