extends ./layout

block title
        title 票友网



block prepend body
    
    //wrap
    div.wrap
        if data && !data.err
            if data.movie
                div.filmlistbox
                    a.flexbox
                        div.imgbox
                            img(src="#{data.movie.movieImage}")
                        div.boxtxt.flex
                            h2 #{data.movie.movieNameCN}
                            ul 
                                li 导演：#{data.movie.director}
                                li 演员：#{data.movie.actors}
                                li 日期：#{data.movie.releaseTime}上映
                                li 时长：#{data.movie.filmLength}        
            div.tabs.serachmid
                div.flexbox
                    div.city
                        a(href="#") 北京
                        i.demo-icon.icon-down-open-mini
                    div.flex.searchbox.flexbox
                        div.flex.searchtxt
                        a(herf="#").btn_search
            if data.cinemas
                each cinemasFirstArray,UppercinemasKey in data.cinemas
                    dl.filmlist(cc="#{index}")
                        dt
                            i.demo-icon.icon-down-dir
                            | #{UppercinemasKey}
                        each _cinemas in cinemasFirstArray
                            dd
                                ul 
                                    li 
                                        a(href="/schedule/1002895/6032").flexbox
                                            div.infobox.flex 
                                                h2 #{_cinemas.cinemaName}
                                                p #{_cinemas.cinemaAddress}
                                                p #{_cinemas.showTimeCount}
                                                    if _cinemas.voucherNote != ''
                                                        b #{_cinemas.voucherNote}
                                            div.pricebox
                                                p 
                                                    if _cinemas.isTicket
                                                        span 座
                                                p.del #{_cinemas.limitPrice}
                                                p.newprice #{_cinemas.retailPrice}

block prepend footer

block prepend script
    script
        | var cinemas = !{JSON.stringify(data.cinemas)};
    script(src="#{data.staticBase}/script/weiticket/common.js?#{data.reversion}")
    script(src="#{data.staticBase}/script/weiticket/ticket.js?#{data.reversion}")


