meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(name="format-detection", content="telephone=no")
meta(content="telephone=no", name="format-detection")
meta(name="description", content="")
meta(name="keywords", content="")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
meta(http-equiv="Access-Control-Allow-Origin" content="*")
if data && data.staticBase && data.reversion
	link(rel="icon", type="image/png", href="#{data.staticBase}/images/login.png?#{data.reversion}")
	link(rel="apple-touch-icon" href="#{data.staticBase}/images/iPhone.png?#{data.reversion}")
	link(rel="apple-touch-icon" sizes="76x76" href="#{data.staticBase}/images/iPad.png?#{data.reversion}")
	link(rel="apple-touch-icon" sizes="120x120" href="#{data.staticBase}/images/iPhone@2x.png?#{data.reversion}")
	link(rel="apple-touch-icon" sizes="152x152" href="#{data.staticBase}/images/iPad@2x.png?#{data.reversion}")
else
	link(rel="icon", type="image/png", href="/images/ico.png")
	link(rel="apple-touch-icon" href="/images/iPhone.png")
	link(rel="apple-touch-icon" sizes="76x76" href="/images/iPad.png")
	link(rel="apple-touch-icon" sizes="120x120" href="/images/iPhone@2x.png}")
	link(rel="apple-touch-icon" sizes="152x152" href="/images/iPad@2x.png}")
